html {
  width: 100%;
  height: 100%;
}

body {
  /* background-color: #541010; */
  background-color: #2e1111;
  height: 100%;
  width: 100%;
  font-family: "roboto", sans-serif;
}

h1 {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: rgb(242, 230, 230);
  text-align: center;
  font-size: 1.5rem;
  font-family: "roboto", sans-serif;
  background-color: black;
  background-image: url("newImages1/concreteTexture.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.aboutList {}

.aboutText {
  width: 50%;
  text-align: center;
  background: #00000082;
}

.active {
  color: black !important;
}

.animated-text {
  display: inline-flex;
  transition: 300ms all;
  color: #ea1818;
  height: 4rem;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.animated-text span {
  animation: slide 8s linear 3s;
  animation-fill-mode: forwards;
}

.brandLogo {
  width: 8rem;
  object-fit: cover;
}

.callBtn {
  font-size: 1.5rem;
  padding: 0 .5rem;
  color: #ea1818;
  background-color: rgb(8 7 7);
  text-decoration: none;
}

.callIcon {
  margin-right: 1rem;
}

.carousel {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.carouselContainer {
  background-color: black;
}

.carousel-inner>.carousel-item>img {
  /* width: 640px;
  height: 360px; */
  width: 75%;
  height: 50%;
  object-fit: contain;
}

.contact {
  width: 75%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.contact a {
  display: inline-block;
  color: #be0303;
}

.estimateBtn {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 10%;
  color: inherit;
  background-color: rgb(105 9 9);
  text-decoration: none;
}

.facebook {
  display: flex;
  align-self: center;
  width: 25%;
}

.fadeInText {
  animation: fadeIn 6s;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeTextInSlower {
  animation: fadeInSlower 8s;
}

@keyframes fadeInSlower {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.heroContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  height: 90%;
  justify-content: center;
  padding-top: 2rem;
  text-align: left;
  font-size: 2rem;
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)), url("newImages1/pourEdit.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSubtext {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-right: auto;
  margin-left: 10%;
  display: inline-block;
  position: relative;
}

.heroSubtext p {
  display: inline;
}

.heroText {
  align-self: flex-start;
  margin-right: auto;
  color: azure;
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  margin-left: 5%;
}

.icons {
  width: 6rem;
  margin: 1rem;
  background-color: white;
  filter: invert(100);
}

.list {
  /* background: white; */
  width: 100%;
  border-radius: 10%;
}

.listItem {
  display: block;
  margin: 1rem 0;
  text-align: center;
}

.listItem p {
  display: inline;
}

.navbar {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: black !important;
}

.navbar-brand {
  color: black;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.702);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

.reviews {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.574);
  bottom: -145px;
}

.serviceLists {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  height: 60%;
  place-items: center;
  font-size: 2rem;
}

.services {
  width: 100%;
  text-align: center;
  color: #f5eded;
  font-size: 2.5rem;
  /* background-image: linear-gradient(rgb(0 0 0 / 72%), rgb(0 0 0 / 67%)), url(newImages11/stairsLaborPerfect.jpg); */
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 33%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.services h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 2rem;
}

.services ul {
  color: black;
  background: #742020;
  border-radius: 5%;
  list-style: none;
  margin-bottom: 0;
  font-family: 'Heebo', sans-serif;
  padding: 1rem;
}

.heroImg {
  object-fit: cover;
  width: 85%;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #c04242;
}

.container-width {
  width: 100%;
}





@keyframes slide {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-4.5rem);
  }

  25% {
    transform: translateY(-4.5rem);
  }

  35% {
    transform: translateY(-9rem);
  }

  45% {
    transform: translateY(-9rem);
  }

  55% {
    transform: translateY(-13.5rem);
  }

  65% {
    transform: translateY(-13.5rem);
  }

  75% {
    transform: translateY(-18rem);
  }

  95% {
    transform: translateY(-18rem);
  }

  100% {
    transform: translateY(-18rem);
  }
}

@media screen and (max-width: 768px) {

  .aboutText {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .heroText {
    width: 100%;
    font-size: 4rem;
    margin-left: 0;
  }

  .serviceLists {
    grid-template-columns: auto;
  }

  .heroContainer {
    text-align: center;
  }

  .heroSubtext {
    margin: 0 auto;
  }

  .reviews {
    flex-direction: column;
  }
}